<%- include("header.ejs")%>

<div class="div">
    <% if (locals.first && locals.last) { %>
        <h1 id=""name>
            <%= first %> <%= last %>
        </h1>
    <% }else{ %>
        <h1>Generate Name</h1>
    <%}%>

<form action="/submit" method="post">
    <input type="submit" id="submit" value="Generate Name">
</form>
</div>






<%- include("footer.ejs") %>


